<p-sidebar [(visible)]="sidebarVisible" [closeOnEscape]="true">
  <h3 class="text-4xl font-bold">Menu</h3>
  <ul class="mt-8">
    <li class="mb-4">
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="block rounded-lg p-4 text-lg hover:bg-gray-300"
        >Home</a
      >
    </li>
    <li class="mb-4">
      <a
        routerLink="/group"
        ariaCurrentWhenActive="page"
        class="block rounded-lg p-4 text-lg hover:bg-gray-300"
        >Groups</a
      >
    </li>
    <li class="mb-4">
      <a
        routerLink="/flashcard"
        ariaCurrentWhenActive="page"
        class="block rounded-lg p-4 text-lg hover:bg-gray-300"
        >Flashcard</a
      >
    </li>
  </ul>
</p-sidebar>
<section class="flex justify-between p-4">
  <p-button
    (click)="sidebarVisible = true"
    label="Menu"
    icon="pi pi-bars"
    size="large"
  >
  </p-button>
  <div class="flex gap-2">
    <label for="isOfficeMode">Offline mode</label>

    <p-inputSwitch
      id="isOfficeMode"
      [ngModel]="isOfflineMode"
      (onChange)="changeMode($event)"
    />
  </div>
</section>
<div class="mb-8">
  <router-outlet></router-outlet>
</div>
