<!--<div class="p-4">-->
<!--  <div class="flex flex-col flex-wrap gap-2 sm:flex-row">-->
<!--    <app-report-->
<!--      name="Statistic 1"-->
<!--      [then]="10"-->
<!--      [now]="20"-->
<!--      color="blue"-->
<!--    ></app-report>-->
<!--    <app-report-->
<!--      name="Statistic 2"-->
<!--      [then]="10"-->
<!--      [now]="10"-->
<!--      color="red"-->
<!--    ></app-report>-->
<!--    <app-report-->
<!--      name="Statistic 3"-->
<!--      [then]="30"-->
<!--      [now]="20"-->
<!--      color="yellow"-->
<!--    ></app-report>-->
<!--    <app-report-->
<!--      name="Statistic 4"-->
<!--      [then]="40"-->
<!--      [now]="20"-->
<!--      color="gray"-->
<!--    ></app-report>-->
<!--  </div>-->
<!--  <div class="flex flex-col flex-wrap md:flex-row">-->
<!--    <p-chart-->
<!--      type="bar"-->
<!--      [data]="basicData"-->
<!--      [options]="basicOptions"-->
<!--      class="sm:basis-[65%]"-->
<!--    />-->
<!--    <p-chart-->
<!--      type="pie"-->
<!--      [data]="data"-->
<!--      [options]="options"-->
<!--      class="sm:shrink-0 sm:basis-[30%]"-->
<!--    />-->
<!--  </div>-->
<!--</div>-->
